/* Styles for the Taupe (default) stylesheet */
body {
        background-color: #766045;
        color: #d7ffff;
}
div.AddEntryForm, div.readback {
        background-color: #ffa500;
        border-color: #f7bd76;
}
#readbacktable {
        background-color: #fff8dc;
}
#readbacktable td {
        background-color: #aa9404;
        color: #ffffff;
}
.sidenav a:hover {
        color: #ff0000;
}
.sidenav a {
        color: #5f4f06;
}
.sidenav {
        background-color: #ffff73;
}
.entry-text {
        color:#5f9ea0;
}