/* Styles loaded for the main stylesheet. These won't change on theme change. */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    resize: both;
    overflow: auto;
    font-size: 14px;
    height: 100%;
    width: 90%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
div.AddEntryForm {
    align-items: center;
    align-content: center;
    width: 95%;
    align-self: center;
    border: 10px solid;
    border-radius: 20px;
    margin: 40px;
}
.AddEntryForm input {
    display: table-column-group;
    align-self: center;
    align-items: center;
    border: 0px;
    margin: 5px;
}
.AddEntryForm select {
    display: table-column-group;
    align-self: center;
    align-items: center;
    border: 0px;
    margin: 5px;
}
.AddEntryForm input[type=submit] {
    width: 10%;
}
.AddEntryForm input[type=text] {
    width: 80%;
}
.infofooter {
    bottom:0%;
}
div.readback { 
    border: 15px solid;
    border-radius: 15px;
    margin-top: 70px;
    overflow-x: auto;
    padding: 0%;
    width: 95%;
    align-self: center;
    align-items: center;
    margin: 40px;
}
#readbacktable {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
}

#readbacktable td,
#readbacktable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#readbacktable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#readbacktable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.entry-feel {
    max-width: 30px;
}
.entry-date {
    width: 20%;
}
.entry-text {
    width: 70%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.settingsmain form {
    border-radius: 25px;
    border: white 5px;
}
.radiotoggle {
    margin: 0 0 1.5rem;
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.radiotoggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.radiotoggle input+label {
    margin: 0;
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
    /* ----- */
}

.radiotoggle input+label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.radiotoggle input+label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.radiotoggle input:hover+label {
    border-color: #213140;
}

.radiotoggle input:checked+label {
    background-color: #4B9DEA;
    color: #FFF;
    box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
    border-color: #4B9DEA;
    z-index: 1;
}

.radiotoggle input:focus+label {
    outline: dotted 1px #CCC;
    outline-offset: 0.45rem;
}

@media (max-width: 800px) {
    .radiotoggle input+label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.visualthemeselector {
    size: bigger;
}
#visual-theme-selector-taupe {
    background-color: antiquewhite;
    color:#4B9DEA;
}