/* Styles loaded for the main stylesheet. These won't change on theme change. */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    resize: both;
    overflow: auto;
    font-size: 14px;
    height: 100%;
    width: 90%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
div.AddEntryForm {
    align-items: center;
    align-content: center;
    width: 95%;
    align-self: center;
    border: 10px solid;
    border-radius: 20px;
    margin: 40px;
}
.AddEntryForm input {
    display: table-column-group;
    align-self: center;
    align-items: center;
    border: 0px;
    margin: 5px;
}
.AddEntryForm select {
    display: table-column-group;
    align-self: center;
    align-items: center;
    border: 0px;
    margin: 5px;
}
.AddEntryForm input[type=submit] {
    width: 10%;
}
.AddEntryForm input[type=text] {
    width: 80%;
}
.infofooter {
    bottom:0%;
}
div.readback { 
    border: 15px solid;
    border-radius: 15px;
    margin-top: 70px;
    overflow-x: auto;
    padding: 0%;
    width: 95%;
    align-self: center;
    align-items: center;
    margin: 40px;
}
#readbacktable {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
}

#readbacktable td,
#readbacktable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#readbacktable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#readbacktable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.entry-feel {
    max-width: 30px;
}
.entry-date {
    width: 20%;
}
.entry-text {
    width: 70%;
}